<footer class="footer-section" id="footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-top__box">
        <div class="footer-top__img">
          <a href="index.html">
            <img src="img/logo.png" alt="logo-footer" />
          </a>
        </div>
        <p class="footer-top__text">
          Lorem ipsum dolor sit amet, consectetuipisicing elit.
        </p>
      </div>
      <ul class="footer-top__list">
        <li><a href="recipe-page.html">Recipes</a></li>
        <li><a href="blog-page.html">Blog</a></li>
        <li><a href="contact-page.html">Contact</a></li>
        <li><a href="#">About us</a></li>
      </ul>
    </div>
    <div class="line"></div>
    <div class="footer-bottom">
      <div class="footer-bottom__fake">

      </div>
      <div class="footer-bottom__author">
        <div> &copy 2020 Flowbase. Powered by <span>Webflow</span>.</div>
      </div>
      <ul class="footer-bottom__social">
        <li>
          <a href="#">
            <i class=" icon icon-facebook"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class=" icon icon-instagram"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class=" icon icon-twitter"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>