@import "variables";

@font-face {
  font-family: "#{$icomoon-font-family}";
  src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?6y3nnw")
      format("truetype"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.woff?6y3nnw")
      format("woff"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.svg?6y3nnw##{$icomoon-font-family}")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "#{$icomoon-font-family}" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-checkmark {
  &:before {
    content: $icon-checkmark;
  }
}
.icon-sharing {
  &:before {
    content: $icon-sharing;
  }
}
.icon-print {
  &:before {
    content: $icon-print;
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram;
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
.icon-fork-knife {
  &:before {
    content: $icon-fork-knife;
  }
}
.icon-heart {
  &:before {
    content: $icon-heart;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.icon-play-circle {
  &:before {
    content: $icon-play-circle;
  }
}
.icon-arrow {
  &:before {
    content: $icon-arrow;
  }
}
.icon-printer {
  &:before {
    content: $icon-printer;
  }
}
.icon-share {
  &:before {
    content: $icon-share;
  }
}
.icon-timer {
  &:before {
    content: $icon-timer;
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down;
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left;
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;
  }
}
