$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts/icon-font" !default;

$icon-checkmark: "\e908";
$icon-sharing: "\e906";
$icon-print: "\e903";
$icon-instagram: "\e902";
$icon-twitter: "\e905";
$icon-fork-knife: "\e907";
$icon-heart: "\e909";
$icon-facebook: "\e90a";
$icon-play-circle: "\e90b";
$icon-arrow: "\e90c";
$icon-printer: "\e90d";
$icon-share: "\e90e";
$icon-timer: "\e90f";
$icon-arrow-down: "\e904";
$icon-arrow-left: "\e900";
$icon-arrow-right: "\e901";
